include -mixins
doctype html
html(lang=language)
  head
    meta(charset=charset)
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    !=wp_head
  body
    div(id="app")
      include header
      main(class="")
        block main
      include footer
    !=wp_footer
